html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map_canvas { height: 100% }

h3 {
    color: #f5f5f5;
    font-family: 'Averia Sans Libre', cursive, Arial, serif; font-weight: 400;
}

h1 {
    position: absolute;
    left:10px;
    top:10px;
    width: 400px;
    height: 76px;

    background-image: url('../img/notesaround_logo.png');
    background-size: 400px 76px;
    background-repeat: no-repeat;

    text-indent: -9999px;
    z-index: 100;
}

.postBox {
    position: absolute;
    background-color: rgba(100 , 100, 110, 0.6);
    background: rgba(100 , 100, 110, 0.6);
    color: rgba(100 , 100, 110, 0.6);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    right:80px;
    bottom:50px;
    height: 100px;
    width: 30%;
    z-index: 100;
    padding-left: 20px;
    padding-right: 20px;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

.postBox input[type="text"]{
    font-family: 'Averia Sans Libre', cursive, Arial, serif; font-weight: 200;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    border-width: 0px;
    width: 90%;
}

.submitButton {
    font-family: 'Averia Sans Libre', cursive, Arial, serif; font-weight: 200;
    background-color: #f5f5f5;
    border-width: 0px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width:100%;
}

.submitButton:hover {
    background-color: #dcdcdc;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}